<h1> A <%= @year %> loan of <%= number_to_currency(@principal) %>, with an annual interest rate of <%= number_to_percentage(@annual_r, precision: 2) %>, requires a monthly payment of <%= number_to_currency(@monthly_payment) %>. </h1>
