<h1> Payment Calculation </h1>
<form action="/payment/results">
  <div>
  <label for = "rate">
    APR
  </label>
  <input id = "rate" type = "text" name = "rate">
</div>
<div>
<label for = "years">
  Number of years
</label>
<input id = "years" type = "text" name = "year">
</div>
<div>
<label for = "principal">
  Principal
</label>
<input  id = "principal" type = "text" name = "principal">
</div>
  <button> Calculate monthly payment </button>
</form>
