<h1> Random Results</h1>

<h5> Minimum</h5>

<p> <%= @min %> </p>

<h5> Maximum</h5>

<p> <%= @max %> </p>

<h5> Random Number</h5>

<p> <%= @random %>  <a href="/random/results">
      Recalculate
    </a></p>


<a href = "/random/new"> Pick another Random Number </a>
